<!-- one thread -->

{% for thread, post_list, image_list_one_thread in zip_list %}
    <div class="thread">

    <!-- the header of a original post -->
    <div class="thread-name"> {{ thread.name_thread }}
        <span class="post_author"> {{ thread.name_author }}</span>
         <span class="post_date">{{ thread.date_pub|date:"D d M Y" }}</span>
             <span class="post_date">{{ thread.date_pub|time:"H:i" }}</span>

        <span class="post_number">No. {{ thread.original_post_number }}</span></div>

    <!-- op text -->
    <div class="op-text">
        {% for img in thread.op_img.all %}
        <img src="{{ img.image_thumbnail.url }}" alt="xxx">

            {% endfor %}

        <br>
        <p>{{ thread.original_post }}</p>
    </div>

    <!-- post for the thread -->
    <div class="comments_table">
        <ul>
        {% for post in post_list %}
            <li><span class="post_author">{{ post.name_author }}</span>
                <span class="post_date">{{ post.date_pub|date:"D d M Y" }}</span>
             <span class="post_date">{{ post.date_pub|time:"H:i" }}</span>

                <span class="post_number">No. {{ post.post_number }}</span> <br>
                <br>
    <!-- pictures of some post -->
                {% for image in post.img.all %}
                    {% if image.image %}

                            <a href="{{ image.image }}">
                            <img src="{{ image.image_thumbnail.url }}" alt="" ></a>

                    {% endif %}
                {% endfor %}
    <!-- post text -->
                <div><p class="wrap"> {{ post.message }}</p></div>
            </li>
        {% endfor %}
    <!-- the form for the new post -->

        <li> {% include 'Board/form_post_new.html' %}  </li>
    {% endfor %}
    </ul>
</div>

  <div class="pagination">
    <span class="step-links">
     <!--   {% if thread_list.has_previous %}
          <a href="?page={{ thread_list.previous_page_number }}">назад</a>
        {% endif %}

        <span class="current">
            {{ thread_list.number }} из {{ thread_list.paginator.num_pages }}.
        </span>

        {% if thread_list.has_next %}
           <a href="?page={{ thread_list.next_page_number }}">вперед</a>
       {% endif %} -->

     {% if thread_list.has_previous %}
        <a class="prev-btn-btn-info" href="?page={{thread_list.previous_page_number}}">Назад</a>
    {% endif %}
    {% if thread_list.has_next %}
        <a class="next-btn-btn-info" href="?page={{thread_list.next_page_number}}">Вперед</a>
    {% endif %}
    <div class="pages">

        {% for pg in page_range %}
            {% if thread_list.number == pg %}
                <a href="?page={{pg}}" class="page-current">-{{pg}}-</a></li>
            {% else %}
                <a href="?page={{pg}}" class="page-not-current">{{pg}}</a></li>
            {% endif %}
        {% endfor %}

    </div>


    </span>
</div>
</div>
<hr>
