<!-- one thread -->

        {% for thread, P_image, post_list, image_list_one_thread in zip_list %}

            <div class="thread">
            <div class="thread-name"> {{ thread.name_thread }}

                <span class="post_author"> {{ thread.name_author }}</span>
                <span class="post_date">{{ thread.date_pub }}</span>
                <span class="post_number">No. {{ thread.original_post_number }}</span></div>



            <div class="op-text">
                <img src="{{ P_image.image.url }}" alt="">
                <br>
                <p>{{ thread.original_post }}</p>

            </div>


                <!-- post for the thread -->
                <div class="comments_table">
<ul>

                    {% for post in post_list %}

                    <li><span class="post_author">{{ post.name_author }}</span>
                        <span class="post_date">{{ post.date_pub }}</span>

                        <span class="post_number">No. {{ post.post_number }}</span> <br>


<br>
                    {% for image in post.img.all %}
                        <p> <img src="{{ image.image.url }}" alt=""></p>

                        {% endfor %}


                        <div><p class="wrap"> {{ post.message }}

                        </p></div>
                    </li>
                            {% endfor %}


                    <li> {% include 'Board/form_post_new.html' %}  </li>
{% endfor %}

                </ul>
</div>





        </div>
        <hr>
